
<div class="bigcontainer">
		<div class="cat-manage">
				<form method="POST" id="cat-form">
		<div class="admin-cat-head">Quản lý chuyên mục lớn</div>		
		<div class="manage-cat-container">
			
			<div class="add-cat" id="addcat"> 
				<input type="text" name="catadd" id="themchuyenmuc">
				<button id="add-cat" type="submit" formaction="/admin/add-cat">Thêm</button>
			</div>
			<div class="edt-cat" id="edtcat">
				<input type="text" name="catedt" id="suachuyenmuc">
				<button id="edt-cat" type="submit" formaction="/admin/edt-cat">Sửa</button>
			</div>
			<div class="del-cat" id='delcat'>
				<button id="del-cat" type="submit" formaction="/admin/del-cat">Xóa</button>
			</div>
		</div>
		<div class="ad-cat-list">
			<br>
			<select name="cat" class="cat-box" id="edt-cat-sl" size="5" onchange="copytoEdit('edt-cat-sl','suachuyenmuc')">
				<%cat.forEach(function(row){%>
					<option value="<%=row.name%>"><%=row.name%></option>
					<%})%>
			</select>
		</div>
		</form>
		</div>
		<div class="cat-manage">
			<form method="POST" id="subcat-form">
			<div class="admin-cat-head">Quản lý chuyên mục nhỏ</div>
			<div class="manage-cat-container">
				
				<div class="add-cat" id="addsubcat">
					<input type="text" name="subcatadd" id="themchuyenmuc">
					<button id="add-subcat" type="submit" formaction="/admin/add-subcat">Thêm</button>
				</div>
				<div class="edt-cat" id="edtsubcat">
					<input type="text" name="subcatedt" id="suachuyenmucnho">
					<button id="edt-subcat" type="submit" formaction="/admin/edt-subcat">Sửa</button>
				</div>
				<div class="del-cat" id="delsubcat">
					<button id="del-subcat" type="submit" formaction="/admin/del-subcat">Xóa</button>
				</div>
			</div>
			<div class="ad-cat-list">
				<select name="sccat" class="big-cat" id='edit-sc-csl' onchange="populate('edit-sc-csl','edit-sc-sl')">
						<option value=""></option>
						<%cat.forEach(function(row){%>
							<option id="<%=row.ID%>" value="<%=row.name%>"><%=row.name%></option>
							<%})%>
				</select>
				<br>
				<select name="scsubcat" id='edit-sc-sl' class="small-cat" size="5" onchange="copytoEdit('edit-sc-sl','suachuyenmucnho')">
					
				</select>
			</div>
		</form>
			</div>			
		<div class="ad-article-head">Quản lí người dùng</div>
		<div class="edt-wrt-manage">
				<form method="POST" id='ew-form'>
		<div class="admin-edt-wrt-head">Quản lý biên tập viên & phóng viên</div>
		<div class="manage-edt-wrt-container">
			<div class="add-edt-wrt" id="add-edt-wrt">
				<input type="text" name="username" id="thembtvpv-u" placeholder="Username">
				<input type="password" name="password" id="thembtvpv-p" placeholder="Password">
				<button id="add-btn-ew" type="submit" formaction="/admin/add-ew">Thêm</button>
			</div>
			<div class="del-edt-wrt" id="del-edt-wrt">
				<button id="del-btn-ew" type="submit" formaction="/admin/del-ew">Xóa</button>
			</div>
		</div>
		<div class="ad-edt-wrt-list">
			<select name="slew" class="edt-wrt" id="role-select" onchange="changeUser('role-select','edtor-wrter-list')">
				<option value="Biên tập viên">Biên tập viên</option>
				<option value="Phóng viên">Phóng viên</option>
			</select>
			<br>
			<input type="text" list="edtor-wrter-list" name="edt-wrt-search">
			<button><i class="fas fa-search"></i></button>
			<select name="listew" class="edt-wrt-list" id="edtor-wrter-list" size="5">
					<% user.forEach(function(row){ %>
						<% if(row.level==3){ %>
							<option value="<%=row.username%>"><%=row.username%></option>
						<%}%>
					<%})%>
			</select>
		</div>
	</form>
		</div>
		<div class="reader-manage">
			<form method="POST" id="reader-form">
		<div class="admin-reader-head">Quản lý đọc giả</div>
		<div class="manage-reader-container">			
			<div class="extend-reader" id="extend-reader">
				<button id="ext-btn-reader" type="submit" formaction="/admin/ext-reader">Gia hạn</button>
			</div>
			<div class="del-reader" id="del-reader">
				<button id="del-btn-reader" type="submit" formaction="/admin/del-reader">Xóa</button>
			</div>
		</div>
		<div class="ad-edt-wrt-list">
			<input type="text" name="tag-manage-search">
			<button><i class="fas fa-search"></i></button>
			<br>
			<select name="listreader" class="ad-reader-lst" size="5">
				<% user.forEach(function(row){ %>
					<% if(row.level==1){ %>
						<option value="<%=row.username%>"><%=row.username%></option>
					<%}%>
				<%})%>
			</select>
		</div>
	</form>
		</div>
		<div class="asignment-manage">
		<form method="POST" id="asign-form">
		<div class="admin-asign-head">Phân công biên tập viên</div>
		<div class="ad-asign">
			<input type="text" name="asign-manage-search">
			<button><i class="fas fa-search"></i></button>
			<br>
			<select name="edtlist" class="ad-asign-lst" size="5">
					<% user.forEach(function(row){ %>
						<% if(row.level==3){ %>
							<option value="<%=row.username%>"><%=row.username%></option>
						<%}%>
					<%})%>
			</select>
		</div>			
			<div class="asign-edt" id="asign-edt">
				<button id="asign-btn" type="submit" formaction="/admin/asign">Phân công</button>
			</div>
		<div class="ad-asign-cat-list">
			<select name="edtcatlist" class="cat-asign" size="5">
					<%cat.forEach(function(row){%>
						<option id="<%=row.ID%>" value="<%=row.name%>"><%=row.name%></option>
						<%})%>
			</select>
		</div>
		</form>
		</div>
		<div class="ad-article-head">Quản lí Tag</div>
		<div class="tag-manage">
			<table class="tag-table">
				<tr>
					<th>Tag</th>
					<th>Bài viết</th> 
				</tr>
				<%tag.forEach(function(row){%>
					<tr>
						<td><%=row.tag%></th>
						<td><%=row.header%></th> 
					</tr>
				<%})%>
			</table>
		</div>
		<div class="ad-article-head">Quản lí bài viết</div>
		<div class="dr-container" id="dr-container">
			<%article.forEach(function(row){%>
			<div class="dr-list">
				<a href="/editor/drafts/<%=row.ID%>"><img src="<%=row.image%>"></a>
				<div class="dr-title"><a href="/editor/drafts/<%=row.ID%>"><%=row.header%></a></div>
				<div class="dr-abstract"><%=row.abstract%></div>
				<div class="dr-cat"><%=row.cat%></div>
				</div>
				<%})%>
			</div>
		</div>
	</div>

	<script>
		function copytoEdit(s, ip){
			var select=document.getElementById(s);
			var ip=document.getElementById(ip);

			ip.value=select[select.selectedIndex].innerHTML;
		}

		function populate(s1,s2){
			var s1=document.getElementById(s1);
 		 	var s2=document.getElementById(s2);
  			s2.innerHTML="";

  			var s1id=s1[s1.selectedIndex].id;

			var sc=<%- JSON.stringify(subcat)%>
			
  			sc.forEach(element => {
      			console.log(element.belongto);
      			if(element.belongto==s1id)
      			{
    				var newOp=document.createElement("option");
    				newOp.value=element.name;
    				newOp.innerHTML=element.name;
    				s2.options.add(newOp);
      			}
  			});
		}

		function changeUser(s1,s2){
			var s1=document.getElementById(s1);
 		 	var s2=document.getElementById(s2);
  			s2.innerHTML="";

  			var s1v=s1[s1.selectedIndex].value;

			var user=<%- JSON.stringify(user)%>;

			if(s1v=="Biên tập viên"){
  			user.forEach(element => {			
      			if(element.level==3)
      			{
    				var newOp=document.createElement("option");
    				newOp.value=element.username;
    				newOp.innerHTML=element.username;
    				s2.options.add(newOp);
				  }				  
				});
			}
				if(s1v=="Phóng viên"){
					user.forEach(element => {
					if(element.level==2)
      			{
    				var newOp=document.createElement("option");
    				newOp.value=element.username;
    				newOp.innerHTML=element.username;
    				s2.options.add(newOp);
				  }
				});
			}
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script src="/public/manage.js">
		
	</script>