<link href="/theme/css/profile.css" rel="stylesheet" type="text/css" />
<link href="/theme/css/menu.css" rel="stylesheet" type="text/css" />

<div class='bigcontainer'>
        <div id="page-body">
				<div id="page-body-menu">
					<ul class="menu-lv1">
                            <li class="parent">Thông tin</li>
							<li class="menu-tab"><a title="Thông tin cá nhân" href="#"><span>Thông tin cá nhân</span></a></li>
							<li class="menu-tab"><a title="Đổi mật khẩu" href="#"><span>Đổi mật khẩu</span></a></li>	
							<% if (role == "admin") { %>
							<li class='parent'>Admin</li>    <!--if user=admin-->
							<li class="menu-tab"><a title="Quản lí chuyên mục" href="#"><span>Quản lí chuyên mục</span></a></li>
							<li class="menu-tab"><a title="Quản lí tag" href="#"><span>Quản lí tag</span></a></li>
							<li class="menu-tab"><a title="Quản lí bài viết" href="#"><span>Quản lí bài viết</span></a></li>
							<li class="menu-tab"><a title="Quản lí người dùng" href="#"><span>Quản lí người dùng</span></a></li>
							<% } else if (role == "editor") { %>
							<li class='parent'>Editor</li> <!--if user=editor-->
							<li class="menu-tab"><a title="Quản lí bài viết" href="#"><span>Quản lí bài viết</span></a></li>
							<li class="menu-tab"><a title="Danh sách từ chối" href="#"><span>Danh sách từ chối</span></a></li>
							<% } else if (role == "writer") { %>
							<li class='parent'>Writer</li> <!--if user=writer-->
							<li class="menu-tab"><a title="Tạo bài viết mới" href="/writer/new"><span>Tạo bài viết mới</span></a></li>
							<li class="menu-tab"><a title="Bài viết của tôi" href="#"><span>Bài viết của tôi</span></a></li>
							<% } %>
					</ul>
                </div>
             <div id="page-user-profile">
                 <div class='profile-header'>Thông tin cá nhân</div>
                <div class="detail">
                        <span>Name: </span>
                        <span><%= name %></span> 
                   </div> 
                   <div class="detail">
                        <span>Date of Birth: </span>
                        <span><%= birthday %></span> 
                   </div> 
                   <div class="detail">
                        <span>Email: </span>
                        <span><%= email %></span> 
                   </div>
                   <div class="detail">
                        <span>Role: </span>
                        <span><%= role%></span> 
                   </div>
                   <div class="detail">
                        <span>Premium: </span>
                         <span><%= premium_expired %></span>

                   </div>
                   <% if (role === "writer") { %>
                   <div class="detail">
                        <span>Alias: </span>
                        <span><%= alias %></span> 
                   </div>
                   <% } %>
             </div>
        </div>
</div>