<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <link href="../theme/css/register.css" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
     <div class="container">
            <div id="header">
                    <p><%= title %></p>
                </div>
        <div id="register">
            <%if (phase === "verify") { %>
            <form method="POST" id="loginFrm" action="/user_verify" novalidate>

                <fieldset class="clearfix">
                  <p><i class="fas fa-user"></i><input autofocus name="username" type="text" placeholder="Username" required></p>
                  <p><i class="fas fa-user"></i><input name="email" type="email" placeholder="Email" required></p>
                  <p><%= error %></p>
                  <p><input type="submit" value="Xác nhận"></p>
                </fieldset>
      
              </form>
              <% } else if (phase === "change_password") { %>
                <form method="POST" id="loginFrm" action="/change_password" novalidate>

                    <fieldset class="clearfix">
                        <p><i class="fas fa-user"></i><input autofocus name="username" value="<%= user %>" type="text" placeholder="Username" required readonly></p>
                        <p><i class="fas fa-user"></i><input name="email" value="<%= mail %>" type="email" placeholder="Email" required readonly></p>
                        <p><i class="fas fa-lock"></i><input name="old_password" type="password"  placeholder="Old Password" required></p>
                        <p><i class="fas fa-lock"></i><input name="new_password" type="password"  placeholder="New Password" required></p>
                        <p><i class="fas fa-unlock"></i><input name="otp" type="number" placeholder="OTP" required></p>
                        <p><%= error %></p>
                        <p><input type="submit" value="Đổi mật khẩu"></p>
                    </fieldset>
          
                </form>
            <% } else if (phase === "reset_password") {%>
            <form method="POST" id="loginFrm" action="/reset_password" novalidate>

                <fieldset class="clearfix">
                    <p><i class="fas fa-user"></i><input autofocus name="username" value="<%= user %>" type="text" placeholder="Username" required disabled></p>
                    <p><i class="fas fa-user"></i><input name="email" value="<%= mail %>" type="email" placeholder="Email" required disabled></p>
                    <p><i class="fas fa-lock"></i><input name="password" type="password"  placeholder="Password" required></p>
                    <p><%= error %></p>
                    <p><input type="submit" value="Đặt lại mật khẩu"></p>
                </fieldset>
      
            </form>
            <% } %>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
            <script>
                $(function () {
                $('#loginFrm').validate({
                 rules: { 
                    username:{
                        required: false,
                    },
                    pass: {
                        required: true,
                    },
                    passconfirm:{
                        required: true,
                        equalTo: $('[name="password"]')
                    },                    
                 },
                 messages:{
                     username:{
                         required: 'Please enter your username',
                         remote: 'Username existed, please choose another one'
                     },
                     pass: {
                        required: 'Please enter your password',
                    },
                    passconfirm:{
                        required: 'Please confirm your password',
                        equalTo: 'Password doesnt match',
                    },   
                 },
                });
            })
            </script>
    </body>
</html>