       <div class="bigcontainer">
            <div class="breadcrumb">
                  <ol>
                    <li>
                      <a href="/">
                        <i class="fas fa-home"></i>
                        Trang chủ
                      </a>
                    </li>
                    <li>
                        >
                      <a href="/category/<%= breadc.ID%>"><%= article.cat%></a>
                    </li>
                    <li>
                        >
                      <a href="/category/<%= breads.ID%>"><%= article.subcat%></a>
                    </li>
                    <li>
                        >
                        <%= article.header%>
                    </li>
                  </ol>
                </div>
        <div class ="bigpicctn">
            <img src="<%= article.image%>" style="width: 100%;height: 100%">
        </div>
        <div class="body-sticky" id="body-sticky">
        <div id="da-body" class="da-body">
            <div class="post-header" id="post-header">
                <h2 class="post-title lg"><%= article.header%></h2>
                <i class="far fa-clock"> <%= article.fDate%></i>
            </div>
            <div class="post-abstract" id="post-abstract">		
              <%= article.abstract%>
            </div>
            <div class="post-content" id="post-content">
            <div class="post-content-area">
                    <div class="entry-content">
                      <%= article.content%></div>
                  </div>
        </div>
                <div class="post-tag" id="post-tag"><a href="#">#tag1</a><a href="#">#tag2</a><a href="#">#tag3</a></div>
        </div>
        
        <div class="samesame" id="samesame">
            <h3>Các bài viết khác</h3>
            <% relevant.forEach(function(row){ %>
            <div class="sticky-post">
                <a href="/article/<%= row.ID%>"><img src="<%= row.image%>"></a>
                <div><div class="sticky-post-title"><a href="/article/<%= row.ID%>"><%= row.header%></a></div></div>
            </div>
            <% } %>
            <!-- <div class="sticky-post">
                <a href="../../xa-hoi/hai-huoc/3-chu-t.html"><img src="https://cdn.discordapp.com/attachments/511182519731879956/569725983322800159/FB_IMG_1555903638295.jpg"></a>
                <div class="sticky-post-title"><a href="../../xa-hoi/hai-huoc/3-chu-t.html">“Đời là ba chữ T”</a></div>
            </div>
            <div class="sticky-post">
                <a href="../../xa-hoi/doi-song/tuong-ot.html"><img src="https://znews-photo.zadn.vn/w660/Uploaded/aohunkx/2019_04_21/28d79ae748bcade2f4ad.jpg"></a>
                <div class="sticky-post-title"><a href="../../xa-hoi/doi-song/tuong-ot.html">Nhân viên Masan tạo hình Lăng Bác bằng sản phẩm gây tranh cãi</a></div>
            </div>
            <div class="sticky-post">
                <a href="../../khoa-hoc/cong-nghe/cntt.html"><img src="http://dev.cdn.sgt.tamminh.tech/sgt/1553959063490-d554f_img20190329102811.jpg"></a>
                <div class="sticky-post-title"><a href="../../khoa-hoc/cong-nghe/cntt.html">Đà Nẵng đưa vào hoạt động dự án khu công nghệ thông tin</a></div>
            </div>
            <div class="sticky-post">
                <a href="../../khoa-hoc/tu-nhien/tranh-chap.html"><img src="https://cdn.thesaigontimes.vn/Uploads/Articles/286434/458d1_a4.jpg"></a>
                <div class="sticky-post-title"><a href="../../khoa-hoc/tu-nhien/tranh-chap.html">Tranh chấp phí bảo trì chung cư: Sửa Luật Nhà ở để hạn chế tranh chấp</a></div>
            </div> -->
        </div>
        </div>
            <div class="commentbox">
                <div class="avatar"><img src="https://i.imgflip.com/29bq.jpg">
                </div>
        
        <div class="commentinputcontain">
            <form>
            <textarea name="commentinput" class="commentinput" placeholder="Bình luận..." maxlength="500"></textarea>
        </div>
        <button class="sendcomment">Đăng bình luận</button>
        </form>
        </div>
        <div class="user-comments-container" id="user-comments-container">
            <div class="comment-header">Bình luận:</div>
            <% comment.forEach(function(row){ %>
            <div class="a-comment" id="a-comment">
                <div class="user-avatar" id="user-avatar"><a href="#"><img src="https://i.imgflip.com/8u2j.jpg"></a></div>
                <div class="user-name" id="user-name"><a href="#"><%= row.username%></a></div>
                <div class="comment-date"><%= row.fDate%></div>
                <div class="user-comment"><%= row.content%></div> 
            </div>
            <% } %>
            <!-- <div class="a-comment" id="a-comment">
                <div class="user-avatar" id="user-avatar"><a href="#"><img src="https://i.imgflip.com/8u2j.jpg"></a></div>
                <div class="user-name" id="user-name"><a href="#">Uvuvwevwevwe Onyetevwevwe Ugwemuhwem Osas</a></div>
                <div class="comment-date">6/9/1969</div>
                <div class="user-comment">Lorem ipsum akjduhowuiahdjklahkljhwialhndjk lsdahbcfkljwahnldkhajlksdjla skjdwajdilakjduhowuiahdjklahkljhwialhndjklsdahbcfkljwahnldkhajlksdjlaskjdwajdilakjd uhowuiahdjklahkljhwial hndjklsdahbcfkljwahnldk hajlksdjlaskjdwajdilakjduhowuiahdjklah kljhwialhndjklsdahbcfkljwa hnldkhajlksdjlaskjdwajdil akjduhohajlksdjlaskjdwajdilakjduhowuiahdjklahkljhwialhn djklsdahbcfkljwahnldkhaj lksdjlaskjdwajdilajdla</div> 
            </div>
            <div class="a-comment" id="a-comment">
                <div class="user-avatar" id="user-avatar"><a href="#"><img src="https://i.imgflip.com/8u2j.jpg"></a></div>
                <div class="user-name" id="user-name"><a href="#">Uvuvwevwevwe Onyetevwevwe Ugwemuhwem Osas</a></div>
                <div class="comment-date">6/9/1969</div>
                <div class="user-comment">Lorem ipsum akjduhowuiahdjklahkljhwialhndjk lsdahbcfkljwahnldkhajlksdjla skjdwajdilakjduhowuiahdjklahkljhwialhndjklsdahbcfkljwahnldkhajlksdjlaskjdwajdilakjd uhowuiahdjklahkljhwial hndjklsdahbcfkljwahnldk hajlksdjlaskjdwajdilakjduhowuiahdjklah kljhwialhndjklsdahbcfkljwa hnldkhajlksdjlaskjdwajdil akjduhohajlksdjlaskjdwajdilakjduhowuiahdjklahkljhwialhn djklsdahbcfkljwahnldkhaj lksdjlaskjdwajdilajdla</div> 
            </div> -->
        </div>
        </div>
