<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="bigcontainer">
    <div class="new-header">Tạo bài viết mới</div>
    <div class="new-container">
            <% if(edit){%>
                <%aredit.forEach(function(rows){%>
        <form id="new-article-form" method="POST" enctype="multipart/form-data">          
            <div class="new-title">
                <span>Tiêu đề:</span>
                <input type="text" name="header" id="tieude" value="<%=rows.header%>"></input>
            </div>
            <div class="new-cat">
                <span>Chuyên mục lớn:</span>
                <select name="cat" id="chuyenmuc" onchange="populate(this.id,'chuyenmucnho')"">
                    <option value=""></option>
                    <% cat.forEach(function(row){%>
                    <option id="<%=row.ID%>" value="<%=row.name%>"><%=row.name%></option>
                    <%})%>
                </select>
                <div></div>
            </div>
            <div class="new-subcat">
                    <span>Chuyên mục nhỏ:</span>
                    <select name="subcat" id="chuyenmucnho">
                    <option value=""></option>    
                    </select>
                </div>
            <div class="new-pic">
                    <span>Ảnh đại diện (Xin vui lòng chọn lại ảnh):</span>
                        <input id="input-b2" name="image" type="file" class="file" data-show-preview="false" accept="image/*">
                    </div>
            <div class="new-abstract">
                <span>Tóm tắt:</span>
                <textarea name="abstract" id="tomtat"><%=rows.abstract%></textarea>
            </div>
            <div class="new-body">
            <span>Nội dung:</span>
                <div id="quill-body"></div>
                <textarea id='content' name='content' hidden value="<%-rows.content%>"></textarea>
            </div>
            <div class="new-tag">
                <span>Gán nhãn:</span>
                <input type="text" name="tag" placeholder="tag1 tag2 tag3" value="<%=rows.tag%>">
            </div>
            <button class="article-submit" id="article-submit">Sửa bài viết</button>
        </form>
        <%})%>
        <% }else{%>
            <form id="new-article-form" method="POST" enctype="multipart/form-data">          
                <div class="new-title">
                    <span>Tiêu đề:</span>
                    <input type="text" name="header" id="tieude"></input>
                </div>
                <div class="new-cat">
                    <span>Chuyên mục lớn:</span>
                    <select name="cat" id="chuyenmuc" onchange="populate(this.id,'chuyenmucnho')">
                        <option value=""></option>
                        <% cat.forEach(function(row){%>
                        <option id="<%=row.ID%>" value="<%=row.name%>"><%=row.name%></option>
                        <%})%>
                    </select>
                    <div></div>
                </div>
                <div class="new-subcat">
                        <span>Chuyên mục nhỏ:</span>
                        <select name="subcat" id="chuyenmucnho">
                        <option value=""></option>    
                        </select>
                    </div>
                <div class="new-pic">
                    <span>Ảnh đại diện:</span>
                    <input id="input-b2" name="image" type="file" class="file" data-show-preview="false" accept="image/*">
                </div>
                <div class="new-abstract">
                    <span>Tóm tắt:</span>
                    <textarea name="abstract" id="tomtat"></textarea>
                </div>
                <div class="new-body">
                <span>Nội dung:</span>
                    <div id="quill-body"></div>
                    <textarea id='content' name='content' hidden></textarea>
                </div>
                <div class="new-tag">
                    <span>Gán nhãn:</span>
                    <input type="text" name="tag" placeholder="tag1 tag2 tag3">
                </div>
                <button class="article-submit" id="article-submit">Tạo bài viết</button>
            </form>
            <%}%>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/javascript" src="/public/new-article.js"></script>
<script type="text/javascript">
function populate(s1,s2){ 
  var s1=document.getElementById(s1);
  var s2=document.getElementById(s2);
  s2.innerHTML="";

  var s1id=s1[s1.selectedIndex].id;

  var sc=<%- JSON.stringify(subcat)%>
  console.log(sc);
  console.log(s1id);
  sc.forEach(element => {
      console.log(element.belongto);
      if(element.belongto==s1id)
      {
    var newOp=document.createElement("option");
    newOp.value=element.name;
    newOp.innerHTML=element.name;
    s2.options.add(newOp);
      }
  });
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
    $('#new-article-form').validate({
     rules: { 
        header:{
            required: true,
        },
        cat: {
            required: true,
        },   
        subcat: {
            required: true,
        }, 
        image: {
            required: true,
            extension:"jpg|png",
        }, 
        abstract: {
            required: true,
        },                  
     },
     messages:{
        header:{
            required: 'Xin vui lòng nhập tiêu đề',
        },
        cat: {
            required: '<div class=error>Xin vui lòng chọn chuyên mục lớn</div>',
        },   
        subcat: {
            required: '<div class=error>Xin vui lòng chọn chuyên mục nhỏ</div>',
        }, 
        image: {
            required: '<div class=error>Xin vui lòng chọn ảnh</div>',
            required: '<div class=error>Xin vui lòng chọn dịnh dạng jpg hoặc png</div>',
        }, 
        abstract: {
            required: "Xin vui lòng nhập tóm tắt",
        }, 
     },
    });
})
</script>
<% if(edit){%>
    <%aredit.forEach(function(row){%>
    <script>
        $( document ).ready(function() {
            $("#chuyenmuc").val("<%=row.cat%>");
            populate("chuyenmuc","chuyenmucnho");           
            $("#chuyenmucnho").val("<%=row.subcat%>");
            var markup=$('#content', '#new-article-form').val();
            $('#ql-editor', '#new-article-form').html(markup);
        });
    </script>
    <%})%>
<%}%>
