<div class="bigcontainer">
    <div class="dr-header">Các bài viết chờ duyệt</div>
    <div class="dr-container" id="dr-container">
        <% pending.forEach(function(row){ %>
        <div class="dr-list">
            <a href="/editor/drafts/<%= row.ID%>"><img src="<%=row.image%>"></a>
            <div class="dr-title"><a href="/editor/drafts/<%= row.ID%>"><%=row.header%></a></div>
            <div class="dr-abstract"><%=row.abstract%></div>
            <div class="dr-cat"><%=row.subcat%></div>
            </div>
        <% }) %>   
    </div>    
    </div>
</div>
