<link href="/theme/css/acdn.css" rel="stylesheet" type="text/css" />

<div class="bigcontainer">
    <% article.forEach(function(row){%>
    <div class ="bigpicctn">
        <img src="<%=row.image%>" style="width: 100%;height: 100%">
    </div>
    <div class="body-sticky" id="body-sticky">
    <div id="da-body" class="da-body">
        <div class="post-header" id="post-header">
            <h2 class="post-title lg"><%=row.header%></h2>
            <i class="far fa-clock"> Ngày đăng</i>
        </div>
        <div class="post-abstract" id="post-abstract">		
                <%=row.abstract%>        
            </div>
        <div class="post-content" id="post-content">
                <%-row.content%>
        </div>
            <div class="post-tag" id="post-tag"></div>
              
        </div>
        <div class="samesame" id="samesame">
                <h3>Quản lí</h3>
                <div class="sticky-manage">
                        <form method="POST">
                                <input hidden name='header' value="<%=row.header%>">
                                <textarea hidden name='content' value="<%-row.content%>"></textarea>
                                <input hidden name='abstract' value="<%=row.abstract%>">
                                <input hidden name='image' value="<%=row.image%>">
                                <input hidden name='cat' value="<%=row.cat%>">
                                <input hidden name='subcat' value="<%=row.subcat%>">
                                <input hidden name='row.tag' value="<%=row.tag%>">
                                <button id="dr-a-confirm" name="confirm" value="accept">Duyệt</button>
                                <button id="dr-d-confirm" name="confirm" value="deny">Từ chối</button>
                        </form>
                </div>

                <script>
                    window.onload=function(){
                        var article=<%- JSON.stringify(article)%>;
                        var tmp;
                        var sp;
                        article.forEach(element => {
                            tmp=element.tag;
                            sp=tmp.split(" ");
                            console.log(sp);
                        });
        
                        for (var i=0; i< sp.length;i++){
                            var a=document.createElement('a');
                            a.innerHTML="#"+sp[i];
                            a.href='#';
                            document.getElementById("post-tag").appendChild(a);
                        }
                    }
                </script>
        <% })%>