       <div class="bigcontainer">
            <div class="listlabel">Danh sách bài viết</div>	
            <div class="tagsearch">
            Nhập tag: 
            <input type="" name="taginput" id="taginput">
            <button id="tagbutton">Lọc</button>
        
            <% arbycat.forEach(function(row){ %>
        <div class="list-articles" id="list-articles">  
                <a href="/article/<%= row.ID%>"><img src="<%= row.image%>"></a>
                <div class="listtitle"><a href="/article/<%= row.ID%>"><%= row.header%></a></div>
                <div class="listabstract">
                        <%= row.abstract%>
                </div>
                <div class="listtag"><a href="#">#tag</a> <a href="#">#tag1</a> <a href="#">#tag2</a> <a href="#">#tag3</a></div>
                <div class="listcat"><%= row.subcat%></div>
                <div class="listdate"><%= row.fDate%></div>
            </div>
            <% }) %>
            <!-- <div class="list-articles" id="list-articles">
                <a href="../articles/kinh-doanh/hai-san/doanh-nghiep.html"><img src="http://dev.cdn.sgt.tamminh.tech/sgt/1553959646776-fbc02_vu_thao_pjbu.jpg"></a>
                <div class="listtitle"><a href="../articles/kinh-doanh/hai-san/doanh-nghiep.html">Luật Doanh nghiệp ở đâu trong vụ phân chia tài sản tại Trung Nguyên?</a></div>
                <div class="listabstract">
                    (TBKTSG Online) - Phán quyết của tòa sơ thẩm (Tòa án nhân dân TPHCM) cho phép ly hôn giữa cặp vợ chồng sáng lập đồng thời là cổ đông lớn nhất của Trung Nguyên cộng với kết quả phân chia tài sản đã dấy lên những tranh cãi xung quanh việc tòa phân chia tài sản như vậy có hợp lý không và việc “áp đặt” bà Lê Hoàng Diệp Thảo nhận 40% giá trị tài sản là cổ phần (quy ra tiền tương ứng với giá trị cổ phần sở hữu) có đúng theo Luật Doanh nghiệp không?
            </div>
                <div class="listtag"><a href="#">#tag</a> <a href="#">#tag1</a> <a href="#">#tag2</a> <a href="#">#tag3</a></div>
                <div class="listcat">Hải sản</div>
                <div class="listdate">Ngày đăng</div>
            </div> -->
        
            <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">&raquo;</a>
        </div>
        </div>
        </div>
        </nav>
        </body>